nav {
    background-color: var(--dark_blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

nav > img {
    width: 200px;
    transform: translate(-25%, 0);
    margin: 8px auto;
}

nav > .cart {
    margin-right: 25px;
    position: relative;
}

.cart > .cart_amount {
    position: absolute;
    top: 15%;
    left: 35%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}



