nav {
    background-color: var(--dark_blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

nav > .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

nav > img {
    width: 200px;
    transform: translate(-25%, 0);
}

@media (max-width: 600px) {
    nav > img {
        width: 100px;
        transform: translate(-25%, 0);
    }

    nav > .menu {
        font-size: .6rem;
        gap: 7px
    }
}

nav > .cart {
    margin-right: 25px;
    position: relative;
}

.cart > .cart_amount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    font-size: 1.2rem;
    color: var(--gold);
}

.cart img {
    width: 40px;
}




