.main_image {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.main_image > img {
    width: 70%;
    height: 100%;
}

.main_image > div {
    font-weight: bold;
    color: rgb(35, 57, 93);
    font-size: 1.2rem;
    padding: 10px;
}

.main_image button {
    display: block;
    background-color: rgb(35, 57, 93);
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    color: white;
    padding: 5px;
    margin-top: 50px;

}