.main_image {
    display: flex;
    height: 100vh;
}

.main_image > img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.main_image > div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

@media(max-width: 1000px) {
    .main_image {
        display: block;
    }
    
    .main_image > img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    
    .main_image > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px;
    }
}

.main_image > div > p {
    font-weight: bold;
    color: rgb(35, 57, 93);
    font-size: 1.2rem;
}

.main_image button {
    display: block;
    background-color: rgb(35, 57, 93);
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 20px auto;
}

@media (max-width: 600px) {
    .main_image > div > p {
        font-size: 1rem;
    }

    .main_image button {
        width: 100px;
        height: 40px;
    }
}