:root {
    --dark_gray: rgb(53, 52, 52);
    --dark_blue: rgb(35, 57, 93);
    --gold: #ffbf00
}

html, body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}